body {
	#background: #888;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:100%; 
	}

#top {
	margin: 20px 20px 0px 20px;
	padding: 10px;
	border: 1px solid #666; 
	background: #ccc;  /* old #666; */
	height: 105px; /* ie5win fudge begins */
	height: 75px;
	}



#middle {
	/* position: absolute; */
	margin: 20px 120px 20px 120px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #EEE;
	font-size:80%; 
	font-style:normal;
	text-align:left;
	
	column-count: 4;
	column-gap: 1em;
	column-rule: 1px solid black;
	-moz-column-count: 4;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-count: 4;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;



	
	}

#left {
	position: absolute;
	top: 120px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #ccc;
	width: 100px; /* ie5win fudge begins */
	width: 70px;
	text-align:center;
	
	}


#right {
	position: absolute;
	top: 120px;
	right: 0px; /* Opera5.02 will show a space at right when there is no scroll bar */
	margin: 20px;
	padding: 10px;
	border: 5px solid #ccc;
	background: #ccc;
	width: 100px; /* ie5win fudge begins */
	width: 70px;
	text-align:center;
	
	}

	

a 	{

	/*nur blau */
	/* color:#80BFBF; */
	/* color:#4889c5; */
	/* color:#326a9e; */

	color:#4889c5;
	/*font-weight:bold;*/
	/*nettes grün */
	/*color:#7CFC00;*/

	/* Nette Kombination */
	/*color:#00077A; */
	/*background-color:#eee8fd;*/


	/* Kein Unterstrich */
	text-decoration:none;

	/*Außenabstand*/
	/*padding:2px;*/
	}

a:hover {
	/*background-color:#ffdeff;*/
	color:red;
	}

.nocolor{
	background-color:white;
	color:white;
	}

a:hover.nocolor{
	background-color:white;
	color:white;
	}


#menu {
	position: absolute;
	top: 95px;
	left: 350px;
	/*margin: 200px 200px 0px 0px; */
	padding: 0px;
	/*border: 1px solid #111;*/
	/*background: #EEE;*/
	font-size:80%; 
	font-style:normal;
	text-align:left;
	}

#project_info {
	position: absolute;
	top: 20px;
	right: 40px;
	/*margin: 200px 200px 0px 0px; */
	padding: 0px;
	/*border: 1px solid #111;*/
	/*background: #EEE;*/
	font-size:80%; 
	font-style:normal;
	text-align:rigth;
	}

#debug {
	position: absolute;
	top: 500px;
	margin: 20px 20px 20px 20px;
	padding: 10px;
	border: 5px solid #ccc;
	/*background: #EEE;*/
	font-size:80%; 
	font-style:normal;
	text-align:left;
	}

img {  
	border:none;
	}

<!--</style>-->
